@*_HeadViewComponentPartial*@
<head>

<title>Mellow - Hotel HTML Website Template</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="format-detection" content="telephone=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="author" content="">
<meta name="keywords" content="">
<meta name="description" content="">

<!--Bootstrap ================================================== -->
<link rel="stylesheet" type="text/css" href="~/mellow-1.0.0/css/bootstrap.min.css">

<!--vendor css ================================================== -->
<link rel="stylesheet" type="text/css" href="~/mellow-1.0.0/css/vendor.css">

<!--Link Swiper's CSS ================================================== -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

<!--Link AOS's CSS ================================================== -->
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

<!-- Style Sheet ================================================== -->
<link rel="stylesheet" type="text/css" href="~/mellow-1.0.0/style.css">

<!-- Google Fonts ================================================== -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Sora:wght@100..800&display=swap"
      rel="stylesheet">

</head>
