@*_ServicesViewComponentPartial*@

<section id="services" class="padding-medium">
    <div class="container-fluid padding-side" data-aos="fade-up">
        <h3 class="display-3 text-center fw-normal col-lg-4 offset-lg-4">
            Hizmetlerimiz</h3>
        <div class="row mt-5">
            <div class="col-md-6 col-xl-4">
                <div class="service mb-4 text-center rounded-4 p-5">
                    <div class="position-relative">
                        <svg class="color" width="70" height="70">
                            <use xlink:href="#meditation"></use>
                        </svg>
                        <img src="~/mellow-1.0.0/images/pattern2.png" alt="img"
                             class="position-absolute top-100 start-50 translate-middle z-n1 pe-5">
                    </div>
                    <h4 class="display-6 fw-normal my-3">Oda Tipleri ve Seçenekleri</h4>
                    <p>
                        Farklı ihtiyaçlara uygun çeşitli oda tipleri (standart, suit, aile odası vb.) ve özellikler (manzara, yatak seçenekleri vb.) sunulabilir.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-xl-4">
                <div class="service mb-4 text-center rounded-4 p-5">
                    <div class="position-relative">
                        <svg class="color" width="70" height="70">
                            <use xlink:href="#chef-hat"></use>
                        </svg>
                        <img src="~/mellow-1.0.0/images/pattern2.png" alt="img"
                             class="position-absolute top-100 start-50 translate-middle z-n1 pe-5">
                    </div>
                    <h4 class="display-6 fw-normal my-3">Fiyat Karşılaştırması</h4>
                    <p>
                        Farklı tarih aralıkları ve oda tipleri için fiyat karşılaştırması imkanı sunularak en uygun seçeneğin bulunmasına yardımcı olunabilir.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-xl-4">
                <div class="service mb-4 text-center rounded-4 p-5">
                    <div class="position-relative">
                        <svg class="color" width="70" height="70">
                            <use xlink:href="#swimming"></use>
                        </svg>
                        <img src="~/mellow-1.0.0/images/pattern2.png" alt="img"
                             class="position-absolute top-100 start-50 translate-middle z-n1 pe-5">
                    </div>
                    <h4 class="display-6 fw-normal my-3">Güvenli Ödeme Seçenekleri</h4>
                    <p>
                        Tüm ödeme işlemleri güvenli şekilde korunur. Kredi kartı, banka havalesi veya sanal cüzdanla ödeme yaparak konaklamanızı kolayca tamamlayabilirsiniz.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-xl-4">
                <div class="service mb-4 text-center rounded-4 p-5">
                    <div class="position-relative">
                        <svg class="color" width="70" height="70">
                            <use xlink:href="#dumbbells"></use>
                        </svg>
                        <img src="~/mellow-1.0.0/images/pattern2.png" alt="img"
                             class="position-absolute top-100 start-50 translate-middle z-n1 pe-5">
                    </div>
                    <h4 class="display-6 fw-normal my-3">Müşteri Değerlendirmeleri</h4>
                    <p>
                        Misafir yorumlarıyla otel hakkında fikir sahibi olabilir, seyahatiniz için en uygun seçeneği bulabilirsiniz.
                    </p>                   
                </div>
            </div>
            <div class="col-md-6 col-xl-4">
                <div class="service mb-4 text-center rounded-4 p-5">
                    <div class="position-relative">
                        <svg class="color" width="70" height="70">
                            <use xlink:href="#armchair"></use>
                        </svg>
                        <img src="~/mellow-1.0.0/images/pattern2.png" alt="img"
                             class="position-absolute top-100 start-50 translate-middle z-n1 pe-5">
                    </div>
                    <h4 class="display-6 fw-normal my-3">7/24 Müşteri Desteği</h4>
                    <p>
                        Her türlü soru, sorun veya talep için 7 gün 24 saat ulaşılabilir müşteri destek hizmeti sunulabilir.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-xl-4">
                <div class="service mb-4 text-center rounded-4 p-5">
                    <div class="position-relative">
                        <svg class="color" width="70" height="70">
                            <use xlink:href="#wifi"></use>
                        </svg>
                        <img src="~/mellow-1.0.0/images/pattern2.png" alt="img"
                             class="position-absolute top-100 start-50 translate-middle z-n1 pe-5">
                    </div>
                    <h4 class="display-6 fw-normal my-3">İptal ve Değişiklik Koşulları</h4>
                    <p>
                        Rezervasyon iptali veya değişiklikleriyle ilgili net ve anlaşılır koşullar belirtilebilir.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

