@*_GalleryViewComponentPartial*@

<section id="gallery" data-aos="fade-up">
    <h3 class="display-3 fw-normal text-center">Galeri</h3>
    <p class="text-center col-lg-4 offset-lg-4 mb-5">
        Sitemizdeki otellerin konforlu odalarını ve modern olanaklarını keşfedin. Her otel, farklı ihtiyaçlara hitap eden şık dekorasyonlarla tasarlandı. Çatı katı havuzlarından şehir manzaralarına kadar, her otelimizde konforlu bir konaklama deneyimi sunuyoruz. Farklı otel seçenekleriyle, seyahatiniz için en uygun olanı kolayca bulabilirsiniz.
    </p>
    <div class="container position-relative">
        <div class="row">
            <div class="swiper gallery-swiper offset-1 col-10">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="~/mellow-1.0.0/images/item3.jpg" alt="img" class="img-fluid rounded-4">
                    </div>
                    <div class="swiper-slide">
                        <img src="~/mellow-1.0.0/images/item2.jpg" alt="img" class="img-fluid rounded-4">
                    </div>
                    <div class="swiper-slide">
                        <img src="~/mellow-1.0.0/images/item1.jpg" alt="img" class="img-fluid rounded-4">
                    </div>
                </div>
            </div>
        </div>
        <div class="position-absolute top-50 start-0 translate-middle-y main-slider-button-prev d-none d-md-block">
            <svg class="bg-secondary rounded-circle p-3" width="70" height="70">
                <use xlink:href="#arrow-left"></use>
            </svg>
        </div>
        <div class="position-absolute top-50 end-0 translate-middle-y main-slider-button-next d-none d-md-block">
            <svg class="bg-secondary rounded-circle p-3" width="70" height="70">
                <use xlink:href="#arrow-right"></use>
            </svg>
        </div>
        <div class="position-absolute top-100 end-50 translate-middle main-slider-button-prev mt-5 d-md-none d-block">
            <svg class="bg-secondary rounded-circle p-2" width="50" height="50">
                <use xlink:href="#arrow-left"></use>
            </svg>
        </div>
        <div class="position-absolute top-100 start-50 translate-middle main-slider-button-next mt-5 ms-4 d-md-none d-block">
            <svg class="bg-secondary rounded-circle p-2" width="50" height="50">
                <use xlink:href="#arrow-right"></use>
            </svg>
        </div>
    </div>
</section>

