@*_InfoViewComponentPartial*@

<section id="info">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col-md-3 text-center mb-4 mb-lg-0">
                <h3 class="display-1 fw-normal text-primary position-relative">
                    25K <span class="position-absolute top-50 end-50 translate-middle z-n1 ps-lg-4 pt-lg-4">
                        <img src="~/mellow-1.0.0/images/pattern1.png" alt="pattern" class="img-fluid">
                    </span>
                </h3>
                <p class="text-capitalize">Toplam Rezervasyonlar</p>
            </div>
            <div class="col-md-3 text-center mb-4 mb-lg-0">
                <h3 class="display-1 fw-normal text-primary position-relative">
                    160 <span class="position-absolute top-50 translate-middle z-n1">
                        <img src="~/mellow-1.0.0/images/pattern1.png" alt="pattern"
                             class="img-fluid">
                    </span>
                </h3>
                <p class="text-capitalize">Toplam Üye Sayısı</p>
            </div>
            <div class="col-md-3 text-center mb-4 mb-lg-0">
                <h3 class="display-1 fw-normal text-primary position-relative">
                    25 <span class="position-absolute top-100 pb-5 translate-middle z-n1">
                        <img src="~/mellow-1.0.0/images/pattern1.png" alt="pattern"
                             class="img-fluid">
                    </span>
                </h3>
                <p class="text-capitalize">Toplam Otel Sayısı</p>
            </div>
            <div class="col-md-3 text-center mb-4 mb-lg-0">
                <h3 class="display-1 fw-normal text-primary position-relative">
                    200 <span class="position-absolute top-50 end-50 pb-lg-4 pe-lg-2 translate-middle z-n1">
                        <img src="~/mellow-1.0.0/images/pattern1.png" alt="pattern" class="img-fluid">
                    </span>
                </h3>
                <p class="text-capitalize">Mutlu Müşteriler</p>
            </div>
        </div>
    </div>
</section>
